.DS_Store
.gradle
.idea/*.local.xml
.idea/assetWizardSettings.xml
.idea/caches
.idea/dictionaries
.idea/libraries
.idea/modules
.idea/shelf
.idea/sonarlint
.idea/workspace.xml
.idea/discord.xml
build/
coverage/
dist/
local.properties
